body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    color: #333;
}

#upload, #downloadBtn {
    margin: 20px;
}

#canvas {
    border: 1px solid #ccc;
    margin: 20px auto;
    cursor: grab;
}
